<h3><a class='btn btn-secondary' href='/student'><i class='fa fa-plus'></i>Create New</a>Student List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            {{#each list}}
            <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>
                    <a href="/student/{{this._id}}"><i class='fa fa-pencil fa-lg' aria-hidden="true"></i></a>
                    <a href="/student/delete/{{this.id}}" onclick="return confirm('Are you sure to delete?');"><i class='fa fa-trash fa-lg' aria-hidden="true"></i></a>
                </td>
             </tr>
            {{/each}}
    </tbody>
</table>